.booking-response {
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}

.booking-response.success {
    background-color: green;
}

.booking-response.error {
    background-color: red;
}

.recommended-alt-wrap {
    display: none;
}

.room-occupants-wrap {
    display: none;
}
.occupant-children-age {
    display: none;
}
#booking-summary {
	bottom: 0;
	left: 0;
	width: 100%;
	position: fixed;
	height: 120px;
}