.atollmatrix-content,
.atollmatrix-content h1,
.atollmatrix-content h2,
.atollmatrix-content h3,
.atollmatrix-content h4,
.atollmatrix-content h5 {
	font: 300 14px/1.5 "Lato", Helvetica, Arial, sans-serif;
}

.atollmatrix-content {
	max-width: 645px;
	margin: 0 auto;
}

.room-details-stats {
	font-size: 11px;
	font-weight: 500;
	letter-spacing: 0.3px;
}

.room-details-facilities {
	letter-spacing: 0.2px;
	font-weight: 300;
}

.booking-response {
	padding: 15px;
	margin-top: 20px;
	color: white;
	margin-bottom: 10px;
	font-weight: 500;
	display: none;
}

.booking-response.success {
	background-color: #7400ff;
}

.booking-response.error {
	background-color: red;
}

.recommended-alt-wrap {
	display: none;
}

.room-occupants-wrap {
	display: none;
}

.occupant-children-age {
	display: none;
}

.guest-adult-svg {
	width: 22px;
	height: 32px;
	background-image: url('../../assets/svgs/person-adult.svg');
	display: inline-block;
	background-repeat: no-repeat;
}

.guest-child-svg {
	width: 22px;
	height: 22px;
	background-image: url('../../assets/svgs/person-child.svg');
	display: inline-block;
	background-repeat: no-repeat;
}

.guest-bed-kingbed {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/bed-king.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}

.guest-bed-twinbed {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/bed-single.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}

.type-twinbed-twinbed-two.guest-bed-twinbed {
	left: -10px;
}

.included-mealplan {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/mealplan.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: 11px;
}

.room-details-heading {
	text-align: left;
	/* Center the heading */
}

.room-details-row {
	display: flex;
	flex-direction: row;
	/* Display columns horizontally */
	justify-content: space-between;
	/* Space columns evenly */
	align-items: flex-start;
	/* align top items vertically */
}

.room-details-column {
	flex: 1;
	text-align: left;
	margin: 0;
}

.room-details-row .room-details-column:first-child {
	padding-right: 40px;
}

.room-occupied-group {
	border: 1px solid #ececec;
	margin-bottom: 10px;
	padding: 40px;
	transition: box-shadow 0.4s;
}

.room-occupied-group:hover {
	box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

.room-occupied-group.room-selected {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

#booking-summary-wrap {
	box-sizing: border-box;
	padding: 30px;
}

.admin-bar #booking-summary {
	top: 60px;
}

.summary-room-name {
	display: block;
	font-size: 20px;
	letter-spacing: -0.5px;
	line-height: 1;
	font-weight: 700;
	margin-bottom: 22px;
}

.bed-summary {
	display: inline-block;
}

.main-summary-wrap {
	margin-bottom: 14px;
}

.summary-mealtype-inlcuded {
	margin-bottom: 14px;
	font-size: 14px;
	display: block;
}

.summary-heading {
	font-weight: 600;
	font-size: 15px;
	letter-spacing: -0.5px;
	margin-top: 14px;
}

.summary-heading.total-summary-heading {
	font-size: 18px;
	font-weight: 800;
}

.price-summary-wrap {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 35px;
}

.tax-summary {
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 400;
}

.room-included-meals i {
	color: #60bf00;
	padding-right: 5px;
}

.bed-summary .guest-bed-kingbed {
	top: 8px;
}

.price-summary {
	margin-top: 7px;
	font-size: 16px;
}

.tax-summary-total {
	font-size: 18px;
	font-weight: 800;
}

.bed-summary .type-kingbed-twinbed-two {
	top: 8px;
	left: 3px;
}

.bed-summary .guest-bed-twinbed.twinbed {
	top: 9px;
}

.summary-mealtype-name {
	font-size: 14px;
}

#woo-bookingpayment,
.book-button {
	padding: 10px;
	box-sizing: border-box;
	background: #0064ff;
	color: #fff;
	border-radius: 8px;
	font-size: 14px;
	font-weight: 600;
	padding: 10px 22px;
	display: block;
	cursor: pointer;
}
.book-button.not-fullwidth {
	display: inline-block;
}
.page-content .book-button a,
.book-button a {
	color: #fff;
	text-decoration: none;
}
#woo-bookingpayment {
	background: #ff0000;
	display: none;
}

.summary-icon i {
	font-size: 20px;
	top: 13px;
	position: relative;
	color: #0b0b0b;
}

.fa-solid.fa-circle-exclamation {
	padding-right: 8px;
	color: #fff;
	display: block;
	font-size: 42px;
	margin-bottom: 17px;
}

#booking-summary-wrap.booking-summary-warning {
	background: #ff0000;
	color: #fff;
	font-size: 22px;
	font-weight: 500;
}

.room-details-heading h2 {
	font-size: 30px;
	font-weight: 500;
	margin: 18px 0 14px;
	letter-spacing: -0.7px;
	line-height: 1;
}

.room-details-image img {
	width: 260px;
	box-sizing: border-box;
	border-radius: 20px;
}

.room-details .facility {
	white-space: nowrap;
	padding-right: 8px;
}

.room-summary-facilities {
	font-size: 13px;
}

.room-summary-facilities i {
	padding-right: 5px;
	color: #6730ff;
}

.room-summary-icon {
	width: 32px;
	display: inline-block;
	text-align: center;
}

.room-details-stats {
	padding-top: 8px;
	color: #484848;
}

.room-details-facilities {
	border-top: 1px solid #00000012;
	margin-top: 12px;
	padding-top: 12px;
}

.room-details-column .room-price-total {
	font-size: 20px;
	letter-spacing: -0.1px;
	font-weight: 500;
	background: #caa100;
	color: #fff;
	display: inline-block;
	padding: 0 10px;
	border-radius: 5px;
	margin: 13px 0;
}

.room-summary-heading {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 12px;
}

.roomchoice-seperator {
	margin-top: 16px;
}

.mealplans-wrap {
	padding-bottom: 10px;
}

.room-mealplan-input-wrap {
	line-height: 1.8;
	font-size: 13px;
	letter-spacing: 0.6px;
	font-weight: 300;
}


.room-details label {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
}

.room-details label input {
	position: absolute;
	left: -9999px;
}

.room-details label input:checked+span.checkbox-label {
	background-color: #e1fbff;
}

.room-details label input:checked+span.checkbox-label:before {
	box-shadow: inset 0 0 0 0.4375em #000;
}

.room-details label span.checkbox-label {
	display: flex;
	align-items: center;
	padding: 5px 15px 5px 5px;
	border-radius: 50px;
	transition: 0.25s ease;
	font-size: 13px;
}
.room-details label span.checkbox-label,
.room-mealplan-price .price {
	font-size: 13px;
}

.room-details label span.checkbox-bed-label {
	padding: 5px;
}

.room-details label span.checkbox-label:hover {
	background-color: #e1fbff;
}

.room-details label span.checkbox-label:before {
	display: flex;
	flex-shrink: 0;
	content: "";
	background-color: #fff;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin-right: 0.375em;
	transition: 0.25s ease;
	box-shadow: inset 0 0 0 0.125em #00005c;
}

.room-details label span.checkbox-bed-label:before {
	margin-right: 0;
}

.room-details-row .guest-bed-wrap {
	position: absolute;
	top: 0;
	left: 33px;
}

.room-details-row .guest-bed-wrap.guest-bed-twinbed-twinbed-wrap {
	left: 27px;
}

.mealplan-text {
	padding-left: 5px;
}

.roomchoice-selection {
	border-top: 1px solid #e6e6e6;
	margin-top: 12px;
	margin-bottom: 12px;
}

.roomchoice-seperator.roomchoice-bedlayout {
	margin-bottom: 16px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 16px;
}

.stay-summary-wrap {
	font-size: 10px;
	border-top: 1px solid #d9d7d7;
	margin-top: 30px;
	padding-top: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1.9;
}

.room-included-meals {
	font-weight: 400;
	letter-spacing: 0.4px;
	font-size: 13px;
}

/* Form set */
.registration_form {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	/* Display form elements side by side */
	justify-content: space-between;
	/* Create two columns */
}

/* Style for .registration-column elements */
.registration-column {
	width: 50%;
	/* Adjust this percentage to control column width */
}

.registration_form .form-group {
	margin-bottom: 15px;
}
.registration_form {
	position: relative;
}

.registration_form::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
	-webkit-transition: -webkit-transform 0.28s ease-in-out;
	transition: -webkit-transform 0.28s ease-in-out;
	transition: transform 0.28s ease-in-out;
	transition: transform 0.28s ease-in-out, -webkit-transform 0.28s ease-in-out;
	z-index: -1;
}

.registration_form:hover::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.registration-column.registration-column-two {
	width: 40%;
	background: #f9f9f9;
}

.registration-column.registration-column-one {
	width: 60%;
	padding: 30px 30px;
	box-sizing: border-box;
	position: relative;
}

.registration_form_outer {
	display: none;
}

.registration_form .invalid-feedback {
	font-size: 14px;
	font-weight: 400;
}
#guest_consent {
	margin-right: 6px;
}

.number-input input {
	width: 50px;
	text-align: center;
	margin: 0 5px;
}

.number-input span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: none;
	background-color: #000;
	color: #fff;
	border-radius: 20px;
	cursor: pointer;
	line-height: 2;
	text-align: center;
	transition: 0.3s background-color;
}

.number-input span:hover {
	background-color: #555;
}

.number-input span:active {
	background-color: #ccc;
}

.occupants-range input {
	border: 2px solid #000;
	transition: 0.3s border-color;
	border-radius: 4px;
	line-height: 26px;
}

.occupants-range:active input {
	border-color: #888;
}

.front-booking-search {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ccccccba;
	border-radius: 5px;
	box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.front-booking-details-wrap,
.front-booking-calendar-wrap {
	flex: 1;
	/* Occupy 50% of the available space */
	display: flex;
	align-items: center;
	height: 42px;
}

.front-booking-calendar-icon {
	margin-right: 10px;
	color: #000;
	margin-left: 20px;
}

.front-booking-calendar-date {
	font-size: 14px;
	letter-spacing: 0.4px;
	font-weight: 400;
}

#atollmatrix_reservation_room_adults_wrap {
	margin-bottom: 10px;
}

#bookingDetails,
#bookingSearch {
	background: #000;
	color: #fff;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	width: 120px;
	text-align: center;
	border-radius: 5px;
	font-size: 15px;
	font-weight: 500;
	transition: 0.4s background-color;
}

#bookingDetails:hover,
#bookingSearch:hover {
	/* Styles for when the button is hovered */
	background-color: #0064ff;
	/* Example hover background color */
}

#bookingDetails:active,
#bookingSearch:active {
	/* Styles for when the button is clicked/active */
	background-color: #0064ff;
	/* Example active background color */
}


.front-booking-number-wrap,
.front-booking-guests-wrap {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-left: 50px;
	border-left: 1px dotted #0000004f;
}
.front-booking-number-wrap {
	padding: 0;
	border: 0;
}
.form-group.form-floating.form-bookingnumber-request {
	padding-right: 10px;
}


.form-floating.form-floating-booking-number > .form-control,
.form-floating.form-floating-booking-number > .form-control-plaintext {
	height: 43px;
	min-height: 43px;
	font-size: 13px;
}
.form-floating.form-floating-booking-number > .form-control-plaintext:focus,
.form-floating.form-floating-booking-number > .form-control-plaintext:not(:placeholder-shown),
.form-floating.form-floating-booking-number > .form-control:focus,
.form-floating.form-floating-booking-number > .form-control:not(:placeholder-shown) {
	padding-top: 30px;
	padding-bottom: .625rem;
}

.front-booking-number-container,
.front-booking-guests-container {
	display: flex;
	/* Create a new container for the adult and child wraps */
	width: 66%;
	/* Occupy 66% of the available space within .front-booking-guests-wrap */
	justify-content: space-between;
	/* Distribute space evenly between child elements */
	align-items: flex-end;
	/* Center align items vertically */
}

.front-booking-number-container,
.form-group.form-floating.form-bookingnumber-request,
.form-group.form-floating.form-fullname-request {
	width: 100%;
}

.front-booking-guest-adult-wrap,
.front-booking-guest-child-wrap,
.front-booking-booking-search {
	flex-grow: 1;
	/* Equal flex-grow for each child to evenly distribute space */
}

.front-booking-guest-adult-icon,
.front-booking-guest-child-icon {
	margin-right: 5px;
}

.front-booking-adult-adult-value,
.front-booking-adult-child-value {
	font-weight: bold;
	font-size: 16px;
	color: #333;
	/* Change the color as needed */
}

#atollmatrix_reservation_room_children_wrap,
#atollmatrix_reservation_room_adults_wrap {
	user-select: none;
}

.atollmatrix_reservation_room_guests_wrap {
	display: flex;
	flex-direction: column;
	gap: 15px;
	width: 100%;
	position: absolute;
	width: 270px;
	left: 30%;
	top: 67px;
	border: 1px solid #00000012;
	padding: 30px 30px 24px;
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #fff;
}

.atollmatrix_reservation_room_guests_wrap.hidden {
	display: none;
}

#atollmatrix_reservation_room_children_wrap {
	margin-bottom: 14px;
}

.front-booking-calendar-icon i {
	font-size: 22px;
}

.front-booking-guests-container {
	cursor: pointer;
}

.number-input {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* Equal width columns */
	grid-gap: 10px;
	/* Spacing between columns */
	align-items: center;
}

.column-one {
	grid-column: 1 / span 1;
	/* Span 1 column */
	grid-row: 1;
}

.column-two {
	grid-column: 2 / span 1;
	/* Span 1 column */
	grid-row: 1;
	display: flex;
	gap: 5px;
	align-items: center;
}

.column-two label {
	margin-bottom: 5px;
}

#hotel-booking-form {
	position: relative;
}

.atollmatrix_reservation_room_guests_wrap #guest-age input {
	border: 2px solid #000;
	transition: 0.3s border-color;
	border-radius: 4px;
	line-height: 26px;
	width: 121px;
	margin: 4px 3px;
	text-align: center;
}

.front-booking-calendar-wrap {
	cursor: pointer;
}

#reservation-date {
	position: absolute;
	top: 120px;
	left: 14px;
	opacity: 0;
	z-index: -1;
}
.consent-notice {
	font-size: 12px;
	font-weight: 400;
	position: relative;
	top: 6px;
	display: inline-block;
	margin-bottom: 10px;
}

.available-list {
	margin-top: 12px;
	background: #fff;
}

.recommended-alt-wrap {
	padding: 30px;
	box-sizing: border-box;
	background: #e6ffff;
}

.recommended-alt-title {
	font-size: 20px;
	margin-bottom: 2px;
}

.recommended-alt-description {
	font-size: 14px;
	margin-bottom: 7px;
}

.recommended-dates-wrap {
	color: #0028ff;
	font-weight: 400;
	cursor: pointer;
	text-decoration: none;
}
.recommended-dates-wrap span {
	margin-right: 10px;
	background: #fff;
	padding: 2px 10px;
	display: inline-block;
	border-radius: 7px;
	margin-bottom: 4px;
	font-size: 12px;
	letter-spacing: 0.6px;
}

.recommended-dates-wrap span:hover {
	opacity: 0.8;
}

.booking-backto-roomschoice {
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
	opacity: 1;
	transition: 0.2s opacity;
}
.booking-backto-roomschoice:hover {
	opacity: 0.7;
}
.booking-backto-roomchoice-inner {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
.calendar-insights-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates two columns */
    grid-gap: 10px; /* Sets gap between grid items */
    padding: 15px 20px; /* Optional padding for better spacing */
    background: #eeeeee4d;
	border-radius: 6px;
  	margin-bottom: 5px;
}
.calendar-insights-wrap span {
	font-weight: 500;
}
.registration_form h3 {
	font-size: 28px;
	margin-bottom: 18px;
}
.registration-successful-inner {
	padding: 30px;
}
.registration-successful-inner .booking-number {
	font-weight: 500;
	color: #000;
}
.registration_successful {
	display: none;
}