.welcome-user-icon i {
	font-size: 55px;
}

.welcome-text {
	max-width: 360px;
}

.welcome-text p {
	font-size: 15px;
	font-weight: 300;
}

.welcome-text p.main-greet {
	font-weight: 400;
}

.admin-page-two-main {
	background: #fbfbfb;
	padding-bottom: 50px;
}

.logo-staylodgic {
	background: url('../../assets/images/staylodgic-logo-white.png');
	height: 80px;
	width: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

.logo-staylodgic-alt {
	background: url('../../assets/images/staylodgic-logo-black.png');
	height: 80px;
	width: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

#toplevel_page_staylodgic-slg-dashboard .wp-menu-image.svg,
#toplevel_page_staylodgic-settings .wp-menu-image.svg,
#menu-posts-staylodgic_rooms .wp-menu-image.svg,
#menu-posts-staylodgic_bookings .wp-menu-image.svg,
#menu-posts-staylodgic_customers .wp-menu-image.svg,
#menu-posts-staylodgic_guestrgs .wp-menu-image.svg,
#menu-posts-staylodgic_actvties .wp-menu-image.svg,
#menu-posts-staylodgic_actvtres .wp-menu-image.svg {
	filter: grayscale(100%);
}

.toplevel_page_staylodgic-settings #wpcontent {
	padding-left: 0;
}

.toplevel_page_staylodgic-settings #wpbody-content {
	padding-bottom: 0;
}

.toplevel_page_staylodgic-settings #wpwrap {
	background: #fff;
}

.content-container,
.admin-page-two-header {
	width: 70%;
	margin: 0 auto;
}

.left-columns {
	flex: 3;
	/* Allocates double the space compared to right column */
	display: flex;
}

.left-column {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	padding-right: 20px;
	/* Adds spacing between columns */
}

.right-column {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	/* Centers the SVG vertically in the column */
}

.admin-page-two-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}

.content-container ul ul {
	margin-left: 20px;
}

/* Base Admin Page Styles */
.admin-page-header h1 {
	margin: 0;
	font-size: 68px;
	line-height: 1.4;
	color: #fff;
}

.admin-page-header h1 .the-dot {
	color: #ff0000;
}

.admin-page-header h2 {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	line-height: 1.1;
	color: #ffffff85;
}

.admin-page-wrapper h4,
.admin-page-two-wrapper h4 {
	font-size: 20px;
	color: #000;
}

.admin-page-footer p {
	margin: 0;
	font-size: 16px;
	color: #666;
}

.admin-page-wrapper h4 i,
.admin-page-two-wrapper h4 i {
	color: #bf9b07;
}

.admin-container {
	display: flex;
	height: calc(100vh - 30px);
	width: calc(100vw - 160px);
}

.admin-column {
	flex: 1;
	overflow: hidden;
}

.admin-column1 {
	background-image: radial-gradient( circle farthest-corner at -5.6% -6.8%,  rgba(103,49,145,1) 37.3%, rgba(50,0,129,1) 73.5% );
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.admin-horizontal-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 10px;
	margin-top: 40px;
}

.admin-horizontal-list li a {
	color: #fff;
	text-decoration: none;
	transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
}

.admin-horizontal-list li a:hover {
	opacity: 0.8;
}

.admin-horizontal-list li {
	padding: 0 20px 20px 0;
	color: #fff;
	font-size: 17px;
}

.admin-column.admin-column1 {
	position: relative;
}

.section-main {
	position: relative;
	z-index: 2;
	padding: 60px;
}

.guided-tour-link {
	margin-bottom: 11px;
	font-size: 18px;
}

.section-features h1 {
	font-size: 32px;
	font-weight: 300;
	margin-bottom: 40px;
}

.guided-tour-link-wrap {
	margin-top: 34px;
}

.view-all-features {
	margin-top: 20px;
}

.view-all-features {
	display: inline-block;
	border: 1px solid #000;
	padding: 10px 20px;
	border-radius: 5px;
	color: #000;
	transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
}

.view-all-features:hover {
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.view-help-guide {
	display: inline-block;
	border: 1px solid #0d0dfd;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;

	background: #0d0dfd;
	color: #fff;
	text-decoration: none;
	transition: opacity 0.3s, background-color 0.2s;
	-moz-transition: opacity 0.3s, background-color 0.2s;
	-webkit-transition: opacity 0.3s, background-color 0.2s;
}

.view-help-guide:active,
.view-help-guide:focus,
.view-help-guide:hover {
	box-shadow: none;
	background: #ff0000;
	border-color: #ff0000;
	color: #fff;
	cursor: pointer;
}

.guided-tour-link-wrap div.guided-tour-heading {
	color: #000;
	font-size: 20px;
}

div .guided-tour-link {
	position: relative;
	left: -43px;
}

.guided-tour-link i {
	position: relative;
	top: -3px;
	transition: color 0.2s, border-color 0.2s;
	-moz-transition: color 0.2s, border-color 0.2s;
	-webkit-transition: color 0.2s, border-color 0.2s;
}

.guided-tour-link:hover {
	cursor: pointer;
}

.guided-tour-link:hover i {
	color: #ff0000;
	border-color: #ff0000;
}

.admin-column2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow-y: auto;
}

.section-features {
	width: 100%;
	max-width: 600px;
	padding: 20px 50px;
	box-sizing: border-box;
	color: #917300;
}

.admin-page-two-header {
	padding-top: 100px;
	padding-bottom: 50px;
}

.admin-page-two-wrapper {
	padding-bottom: 50px;
}

.guided-tour-link-wrap {
	font-weight: 400;
}

.guided-tour-link-wrap div {
	margin-bottom: 20px;
	color: #0010ff;
}

.guided-tour-link-wrap div.guided-tour-last-link {
	margin-bottom: 0;
}

.guided-tour-link-wrap i {
	height: 30px;
	width: 30px;
	border: 1px solid #00000061;
	line-height: 30px;
	text-align: center;
	border-radius: 20px;
	margin-right: 6px;
	font-size: 12px;
}

.metaboxtype_get_customer_data ul {
	margin-top: 20px;
	padding-left: 0;
}
.metabox-fields ul.metabox-payments {
	background: #f9f4e3;
	padding: 20px;
	margin-top: 10px;
}
.metabox-fields ul.metabox-payments li {
	border-bottom: 1px dotted #000;
}
.reservation-payment-balance {
	margin-top: 20px;
}
.woo-stay-payment {
	background: #ffe5e5;
	padding: 20px;
	margin-top: 7px;
}
.woo-stay-payment-link {
	margin-top: 7px;
}
.booking-status-confirmed {
	background: #ffcc00;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 6px;
}
.booking-status-pending {
	background: #00e5ff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 6px;
}
.booking-status-payment {
	background: #b68cff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 6px;
}
.booking-status-cancelled {
	background: #ff0000;
	color: #fff;
	display: inline-block;
	padding: 4px 10px;
	border-radius: 6px;
}
.widefat p.booking-status-confirmed {
	color: #4a4a4a;
}
.widefat p.booking-status-pending {
	color: #4a4a4a;
}
.widefat p.booking-status-cancelled {
	color: #fff;
}
.widefat p.booking-status-payment {
	color:#fff;
}
.staylodgic-tab-item .description.woonotice-display {
	background: #ff0000;
	color: #fff;
	padding: 10px 20px;
	font-size: 14px;
}

#menu-posts-staylodgic_actvtres {
	background-color: #5a1aff; /* Slightly lighter */
}
#menu-posts-staylodgic_bookings {
	background-color: #661fff; /* More vibrant */
}
#menu-posts-staylodgic_actvties {
	background-color: #4b00e6; /* Slightly darker */
}
#menu-posts-staylodgic_guestrgs {
	background-color: #3d00cc; /* Darker with blue shift */
}
#menu-posts-staylodgic_customers {
	background-color: #4a15ab; /* Lighter and richer */
}
#menu-posts-staylodgic_rooms {
	background-color: #4d11c6; /* Even lighter */
}
#toplevel_page_staylodgic-slg-dashboard {
	background-color: #99004f; /* Deep, dark purple */
}
#toplevel_page_staylodgic-settings {
	background-color: #4201a2; /* Soft lavender tint */
}