#toplevel_page_slgc-dashboard,
#toplevel_page_staylodgic-settings,
#menu-posts-slgc_room,
#menu-posts-slgc_reservations,
#menu-posts-slgc_customers,
#menu-posts-slgc_guestregistry,
#menu-posts-slgc_activity,
#menu-posts-slgc_activityres {
	background: #000;
}
#toplevel_page_slgc-dashboard .wp-menu-image.svg,
#toplevel_page_staylodgic-settings .wp-menu-image.svg,
#menu-posts-slgc_room .wp-menu-image.svg,
#menu-posts-slgc_reservations .wp-menu-image.svg,
#menu-posts-slgc_customers .wp-menu-image.svg,
#menu-posts-slgc_guestregistry .wp-menu-image.svg,
#menu-posts-slgc_activity .wp-menu-image.svg,
#menu-posts-slgc_activityres .wp-menu-image.svg{
	filter: grayscale(100%);
}

.toplevel_page_staylodgic-settings #wpcontent {
    padding-left: 0;
}
.toplevel_page_staylodgic-settings #wpbody-content {
    padding-bottom: 0;
}
.toplevel_page_staylodgic-settings #wpwrap {
    background: #fff;
}

.content-container ul ul {
    margin-left: 20px;
}

/* Base Admin Page Styles */
.admin-page-header h1 {
	margin: 0;
	font-size: 68px;
	line-height: 1.4;
    color: #fff;
}
.admin-page-header h1 .the-dot {
	color: #ff0000;
}
.admin-page-header h2 {
	font-size: 18px;
	font-weight: 400;
	margin: 0;
	line-height: 1.1;
	color: #ffffff85;
}
.admin-page-wrapper h4 {
	font-size: 20px;
	color: #000;
}

.admin-page-footer p {
    margin: 0;
    font-size: 16px;
    color: #666;
}

.admin-page-wrapper h4 i {
	color: #bf9b07;
}



.admin-container {
    display: flex;
    height: calc(100vh - 30px); /* Adjusted for any top navbar or padding you might have */
    width: calc(100vw - 200px); /* Adjusted for any sidebar or padding */
}

.admin-column {
    flex: 1; /* This ensures each column takes up half the container width */
    overflow: hidden; /* Prevents any overflow from the columns themselves */
}

.admin-column1 {
    background-image: url('http://192.168.88.251/static-wp/staylodgic/wp-content/uploads/sites/2/2024/05/cody-weiss-hEMYwIE6GEY-unsplash.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px;
}

.admin-column2 {
    overflow-y: auto; /* Enables vertical scrolling */
    display: flex; /* Ensures content is managed by flexbox */
    flex-direction: column; /* Aligns children (like ul) in a column */
    padding: 20px; /* Provides padding inside the column */
}

.admin-horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0; /* Ensures no default margin affects your layout */
    display: flex;
    gap: 10px;
    margin-top: 40px;
}

.admin-horizontal-list li {
	padding: 0 20px 20px 0;
	color: #fff;
	font-size: 17px;
}
.admin-column.admin-column1 {
  position: relative;

}
.admin-column.admin-column1::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0009;
	z-index: 1;
	content: ' ';
}
.section-main {
    position: relative;
    z-index: 2;
}