@media only screen and (max-width: 1280px) {
    
    .metabox-column {
        float: none;
        width: 100%;
    }

    .staylodgic_anaytlics_row_one .staylodgic_anaytlics_module {
        width: 100%;
        margin: 0 0 10px;
    }
    .staylodgic-overview-heading {
        margin-top: 10px;
    }

    #quantity-modal .modal-body,
    #rates-modal .modal-body {
        padding: 30px 20px 40px;
    }

    #container,
    .calendar-controls-wrap {
        width: calc( 100% - 10px );
    }

    .metabox-fields.is-a-group,
    .metabox-fields {
        padding: 10px 10px 10px;
    }

    .metaboxtype_range {
        max-width: 100%;
    }
    .settings-change-log {
        column-count: 2;
    }
    #portfolio-list li {
        width: calc(100% - 20px);
    }

}

/* #Tablet (Landscape)
================================================== */

@media only screen and (max-width: 1024px) {

    .metabox-column {
        float: none;
        width: 100%;
    }

    .content-container {
        flex-direction: column; /* Stacks the content vertically */
    }

    .left-columns {
        flex-direction: column; /* Stacks the left columns vertically */
    }

    .left-column {
        padding-right: 0; /* Removes spacing between columns on small screens */
        padding-bottom: 20px; /* Adds spacing between stacked columns */
    }

    .right-column {
        order: -1; /* Optionally moves the right column above the left columns */
    }

    .admin-page-wrapper {
        align-items: flex-start;
        height: auto;
    }

    .calendarRow .rowHeader {
        width: 130px;
    }
    .occupancy-total .occupancy-total-stats {
        font-size: 14px;
        font-weight: 400;
    }
    .occupancy-total .occupancy-percent-symbol {
        margin-right: 0;
        display: block;
    }
    .calendar-room-row .calendarCell.rowHeader {
        font-size: 13px;
        font-weight: 400;
    }
    .calendar-controls-wrap ul {
        padding-left: 13px;
    }
    .nav-item.nav-item-seperator {
        margin-left: 7px;
    }
    
}

/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {

    .metabox-column {
        float: none;
        width: 100%;
    }

    .content-container {
        flex-direction: column; /* Stacks the content vertically */
    }

    .left-columns {
        flex-direction: column; /* Stacks the left columns vertically */
    }

    .left-column {
        padding-right: 0; /* Removes spacing between columns on small screens */
        padding-bottom: 20px; /* Adds spacing between stacked columns */
    }

    .right-column {
        order: -1; /* Optionally moves the right column above the left columns */
    }

    .admin-page-wrapper {
        align-items: flex-start;
        height: auto;
    }
    
}

/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
    
    .metabox-column {
        float: none;
        width: 100%;
    }

    .content-container {
        flex-direction: column; /* Stacks the content vertically */
    }

    .left-columns {
        flex-direction: column; /* Stacks the left columns vertically */
    }

    .left-column {
        padding-right: 0; /* Removes spacing between columns on small screens */
        padding-bottom: 20px; /* Adds spacing between stacked columns */
    }

    .right-column {
        order: -1; /* Optionally moves the right column above the left columns */
    }

    .admin-page-wrapper {
        align-items: flex-start;
        height: auto;
    }

    /* Analytics */
    .staylodgic_analytics_wrap {
        background: #fff;
        margin: 0;
        padding: 10px;
    }
    .overview_page_slgc-activity-dashboard.auto-fold #wpcontent,
    .toplevel_page_slgc-dashboard.auto-fold #wpcontent {
        position: relative;
        margin-left: 0;
        padding-left: 0;
      }
    .staylodgic_anaytlics_module {
        padding: 15px 5px 0;
    }
    .staylodgic_anaytlics_row_one {
        padding: 20px 0;
    }
    .staylodgic_analytics_chart,
    .staylodgic_analytics_table_wrap {
        margin-bottom: 50px;
        border-radius: 10px;
        padding: 20px;
    }

    .staylodgic_table.sub-heading {
        margin-top: 3px;
    }
    .staylodgic_analytics_wrap h3 {
        font-size: 16px;
        font-weight: 400;
    }
    .ranger-min-max-wrap-outer {
        width: 90%;
    }

    .staylodgic-tabs {
        margin-right: 0;
    }
    .staylodgic-options-form {
        padding-right: 15px;
    }
    .staylodgic_page_slgc-settings-panel.auto-fold #wpcontent {
        padding-left:0;
    }
    .staylodgic_page_slgc-settings-panel .wrap {
        margin-right:0;
    }

    #repeatable-activitytax-container input,
    #repeatable-activitytax-container select,
    #repeatable-tax-container input,
    #repeatable-tax-container select,
    #repeatable-perperson-container input,
    #repeatable-perperson-container select,
    #repeatable-mealplan-container input,
    #repeatable-mealplan-container select {
        display: block;
        margin-bottom: 25px;
        padding: 0 8px;
        font-size: 15px;
    }
    #repeatable-activitytax-container,
    #repeatable-tax-container,
    #repeatable-perperson-container,
    #repeatable-mealplan-container {
        width: calc(100% - 25px);
    }
    .input-label-inner {
        top: -3px;
    }
    h1.options-heading {
        font-size: 22px;
        font-weight: 600;
        margin-left: 12px;
    }
    .export-import-form {
        display: none;
    }

    .menu-closed .staylodgic-tabs-container {
        padding-left: 15px;
        padding-right: 15px;
        width: 15px;
    }
    .menu-closed .options-menu-link-text {
        opacity: 0;
    }
    .menu-closed .staylodgic-tab-heading {
        opacity: 0;
        height: 10px;
    }
    .menu-closed .section_heading .options-menu-link-text {
        opacity: 1;
    }

}

/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .metabox-column {
        float: none;
        width: 100%;
    }

    .content-container {
        flex-direction: column; /* Stacks the content vertically */
    }

    .left-columns {
        flex-direction: column; /* Stacks the left columns vertically */
    }

    .left-column {
        padding-right: 0; /* Removes spacing between columns on small screens */
        padding-bottom: 20px; /* Adds spacing between stacked columns */
    }

    .right-column {
        order: -1; /* Optionally moves the right column above the left columns */
    }

    .admin-page-wrapper {
        align-items: flex-start;
        height: auto;
    }


    /* Analytics */
    .staylodgic_analytics_wrap {
        background: #fff;
        margin: 0;
        padding: 10px;
    }
    .overview_page_slgc-activity-dashboard.auto-fold #wpcontent,
    .toplevel_page_slgc-dashboard.auto-fold #wpcontent {
        position: relative;
        margin-left: 0;
        padding-left: 0;
      }
    .staylodgic_anaytlics_module {
        padding: 15px 5px 0;
    }
    .staylodgic_anaytlics_row_one {
        padding: 20px 0;
    }
    .staylodgic_analytics_chart,
    .staylodgic_analytics_table_wrap {
        margin-bottom: 50px;
        border-radius: 10px;
        padding: 20px;
    }

    .staylodgic_table.sub-heading {
        margin-top: 3px;
    }
    .staylodgic_analytics_wrap h3 {
        font-size: 16px;
        font-weight: 400;
    }

    .ranger-min-max-wrap-outer {
        width: 90%;
    }

    .staylodgic-tabs {
        margin-right: 0;
    }
    .staylodgic-options-form {
        padding-right: 15px;
    }
    .staylodgic_page_slgc-settings-panel.auto-fold #wpcontent {
        padding-left:0;
    }
    .staylodgic_page_slgc-settings-panel .wrap {
        margin-right:0;
    }

    #repeatable-activitytax-container input,
    #repeatable-activitytax-container select,
    #repeatable-tax-container input,
    #repeatable-tax-container select,
    #repeatable-perperson-container input,
    #repeatable-perperson-container select,
    #repeatable-mealplan-container input,
    #repeatable-mealplan-container select {
        display: block;
        margin-bottom: 25px;
        padding: 0 8px;
        font-size: 15px;
    }
    #repeatable-activitytax-container,
    #repeatable-tax-container,
    #repeatable-perperson-container,
    #repeatable-mealplan-container {
        width: calc(100% - 25px);
    }
    .input-label-inner {
        top: -3px;
    }
    h1.options-heading {
        font-size: 22px;
        font-weight: 600;
        margin-left: 12px;
    }
    .export-import-form {
        display: none;
    }

    .menu-closed .staylodgic-tabs-container {
        padding-left: 15px;
        padding-right: 15px;
        width: 15px;
    }
    .menu-closed .options-menu-link-text {
        opacity: 0;
    }
    .menu-closed .staylodgic-tab-heading {
        opacity: 0;
        height: 10px;
    }
    .menu-closed .section_heading .options-menu-link-text {
        opacity: 1;
    }

}