.staylodgic-tab-item {
	display: none;
}
.staylodgic-tab-item {
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 10px;
	margin-bottom: 10px;
  }

#sortable {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 60%;
}

#sortable .repeatable {
	margin: 0 3px 3px 3px;
	padding: 0.4em;
	padding-left: 1.5em;
	font-size: 1.4em;
	height: 18px;
}

#sortable .repeatable span {
	position: absolute;
	margin-left: -1.3em;
}

.remove-repeatable {
	position: absolute;
	top: 8px;
	right: -25px;
}

.staylodgic-tabs-wrapper {
	display: flex;
	overflow: hidden;
}

.staylodgic-tabs {
	display: flex;
	border-bottom: 1px solid #ddd;
	/* Horizontal line separating tabs and content */
}

.staylodgic-options-form {
	background: #fff;
	padding: 25px 40px 30px 15px;
}

.staylodgic-tabs .nav-tab {
	padding: 8px 0;
	text-align: left;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.6);
	transition: color 0.3s;
	margin: 0;
	background: none;
	border: 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.3px;
}

.staylodgic-tabform-wrapper .nav-tab-active,
.staylodgic-tabform-wrapper .nav-tab-active:hover,
.staylodgic-tabform-wrapper .nav-tab-active:focus,
.staylodgic-tabform-wrapper .nav-tab-active:focus:active,
.staylodgic-tabs .nav-tab:hover {
	color: #fff;
	border: 0;
	border-bottom: 1px solid #fff;
	background: none;
}

.section_heading {
	font-size: 24px;
	margin: 0;
	border-bottom: 1px solid #ddd;
	line-height: 1.4;
	padding-bottom: 20px;
	margin-bottom: 28px;
}

.staylodgic-tabs .nav-tab-active {
	background: none;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #fff;
	/* Highlight active tab with a color */
	box-shadow: none;
	outline: 0;
}
.staylodgic-tabs .nav-tab i,
.staylodgic-tabs .nav-tab:focus i {
	text-decoration: none;
	border: 0;
}
.staylodgic-tabs .nav-tab i {
	width: 18px;
}

.staylodgic-tab-item {
	display: none;
	background-color: #fff;
}

.staylodgic-tab-item.staylodgic-tab-item--general {
	display: block;
}

.staylodgic-tab-item .description {
	font-size: 12px;
	margin-top: 3px;
	color: #b1b1b1;
	letter-spacing: -0.5px;
}

/* Customize the label (the container) */
.staylodgic-checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.staylodgic-checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid #999;
	border-radius: 5px;
	transition: 0.3s border-color, 0.3s background-color;
}

/* On mouse-over, add a grey background color */
.staylodgic-checkbox-container:hover input ~ .checkmark {
	background-color: #dbf7ff;
	border-color: #dbf7ff;
}

/* When the checkbox is checked, add a blue background */
.staylodgic-checkbox-container input:checked ~ .checkmark {
	background-color: #2196f3;
	border-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.staylodgic-checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.staylodgic-checkbox-container .checkmark:after {
	left: 7px;
	top: 4px;
	width: 3px;
	height: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.mealplan-style-setter {
	width: 60px;
}

.main-sync-form-wrap p {
	font-size: 8px;
}
.main-sync-form-wrap p.notice-heading {
	font-size: 12px;
}
.main-sync-form-wrap th {
	font-size: 11px;
}
.staylodgic-tabform-wrapper .nav-tab-wrapper.staylodgic-tabs {
	padding-top: 0;
}

.staylodgic-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 60px;
}

.staylodgic-modal-content {
	background-color: #fefefe;
	margin: 0 auto;
	border: 1px solid #888;
	width: 800px;
	box-sizing: border-box;
	padding: 40px;
}

.staylodgic-close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.staylodgic-close:hover,
.staylodgic-close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.staylodgic-modal-content textarea {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 20px;
	margin-bottom: 24px;
}

/* Container for the tabs and tab content */
.staylodgic-tabform-wrapper {
	display: flex;
	background: #fff;
	margin-top: 10px;
}

/* Style for the tabs */
.staylodgic-tabs {
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	background: #075497;
}

/* Style for the tab content */
.staylodgic-tab-content {
	flex-grow: 1;
}

/* Hide all tab content by default */
.staylodgic-tab-content {
	display: none;
}

/* Show the active tab content */
.staylodgic-tab-content.active {
	display: block;
}

/* Style for the active tab */
.staylodgic-tabform-wrapper
	.nav-tab-active
	.staylodgic-tabform-wrapper
	.nav-tab:hover {
	background: none;
	border: 0;
}

.staylodgic-tabs-container {
	display: flex;
	flex-direction: column;
	padding: 10px 30px 80px;
}

.staylodgic-tab-heading {
	margin: 30px 0 5px; /* Add space above the heading */
	padding-left: 0; /* Align with the tabs */
	font-size: 22px; /* Adjust the font size */
	font-weight: 200;
	color: #fff; /* Adjust the text color */
	padding-bottom: 5px; /* Add space below the heading */
}
.repeatable {
	position: relative;
	background: #f5f5f5;
	margin-bottom: 5px;
	padding: 28px 10px 5px;
	border-radius: 10px;
}
.input-label-outer {
	position: relative;
}
.input-label-inner {
	position: absolute;
	top: -26px;
	font-weight: 300;
	font-size: 13px;
	color: #a6a6a6;
	text-transform: uppercase;
}
.staylodgic-options-form .dashicons.drag-handle {
	position: absolute;
	left: -26px;
	top: calc(50% - 10px);
}
.staylodgic-options-form .remove-set-button {
	position: absolute;
	right: -26px;
	top: calc(50% - 8px);
}
.staylodgic-tab-item .fa-solid.fa-sort:hover {
	cursor: grab;
}
.staylodgic-options-form .remove-set-button {
	cursor: pointer;
	color: #ff0000;
}
.staylodgic-tab-item input[type="number"],
.input-label-outer input[type="number"] {
	width: 95px;
}

.staylodgic-tab-item input[type="date"],
.staylodgic-tab-item input[type="datetime-local"],
.staylodgic-tab-item input[type="datetime"],
.staylodgic-tab-item input[type="email"],
.staylodgic-tab-item input[type="month"],
.staylodgic-tab-item input[type="number"],
.staylodgic-tab-item input[type="password"],
.staylodgic-tab-item input[type="search"],
.staylodgic-tab-item input[type="tel"],
.staylodgic-tab-item input[type="text"],
.staylodgic-tab-item input[type="time"],
.staylodgic-tab-item input[type="url"],
.staylodgic-tab-item input[type="week"] {
	padding: 0 8px;
	line-height: 2;
	min-height: 30px;
	border: 2px solid #d9d9d9;
	border-radius: 6px;
	transition: 0.3s border-color, 0.3s background-color;
}
.staylodgic-tab-item input[type="checkbox"]:focus,
.staylodgic-tab-item input[type="color"]:focus,
.staylodgic-tab-item input[type="date"]:focus,
.staylodgic-tab-item input[type="datetime-local"]:focus,
.staylodgic-tab-item input[type="datetime"]:focus,
.staylodgic-tab-item input[type="email"]:focus,
.staylodgic-tab-item input[type="month"]:focus,
.staylodgic-tab-item input[type="number"]:focus,
.staylodgic-tab-item input[type="password"]:focus,
.staylodgic-tab-item input[type="radio"]:focus,
.staylodgic-tab-item input[type="search"]:focus,
.staylodgic-tab-item input[type="tel"]:focus,
.staylodgic-tab-item input[type="text"]:focus,
.staylodgic-tab-item input[type="time"]:focus,
.staylodgic-tab-item input[type="url"]:focus,
.staylodgic-tab-item input[type="week"]:focus,
.staylodgic-tab-item select:focus,
.staylodgic-tab-item textarea:focus {
	border-color: #2271b1;
	outline: 2px solid transparent;
}

.staylodgic-tab-item select {
	vertical-align: baseline;
}

.remove_image_button {
	text-decoration: none;
	color: #ff0000;
}

.options-image-display {
	text-align: left;
	margin-top: 10px;
}

.import-export-section {
	padding: 20px;
	background: #bdbdbd;
	text-align: left;
}

#import-settings-button {
	margin-left: 10px;
}

h1.options-heading {
	font-size: 30px;
	font-weight: 600;
}
h1.options-heading span {
	font-weight: 300;
}

.toggle-section {
	margin-bottom: 20px;
}

.import-export-section {
	display: none; /* Initial state set via CSS for cleaner loading */
}

.export-import-form {
	position: relative;
}

.toggle-section {
	position: absolute;
	top: -31px;
	left: 10px;
	font-size: 21px;
	color: #fff;
	cursor: pointer;
	opacity: 0.8;
	transition: color 0.3s;
}
.toggle-section:hover {
	opacity: 1;
}

.menu-closed .staylodgic-tabs-container {
	padding-left: 15px;
	padding-right: 15px;
	width: 15px;
}
.menu-closed .options-menu-link-text {
	opacity: 0;
}
.menu-closed .staylodgic-tab-heading {
	opacity: 0;
	height: 10px;
}
.menu-closed .section_heading .options-menu-link-text {
	opacity: 1;
}

.staylodgic-tab-item.staylodgic-tab-item--property {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
}
.staylodgic-tab-item label {
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
	color: #a4a4a4;
	letter-spacing: 0.2px;
}
.staylodgic-tab-item input,
.staylodgic-tab-item textarea {
	font-size: 14px;
}
.staylodgic-tab-item.staylodgic-tab-item--discounts input {
	margin-bottom: 7px;
}