.staylodgic-main-logo {
	width: 406px;
	height: 117px;
	background-image: url('../../assets/images/staylodgic-logo.png');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	background-size: contain;
}

body.wp-admin {
	background: #f0f0f1;
}

.staylodgic_anaytlics_row_one .staylodgic_anaytlics_module {
	width: 33.2%;
	display: inline-block;
	text-align: center;
	margin: 0 0.1% 0 0;
	box-sizing: border-box;
}

.staylodgic_analytics_wrap {
	background: #fff;
	margin: 10px 20px 0 2px;
	padding: 40px;
}

.staylodgic_analytics_table {
	margin: 14px 0 50px;
	font-size: 14px;
}

.staylodgic_dashboard_subheading {
	font-size: 18px;
	letter-spacing: 2px;
}

.staylodgic_anaytlics_row_one {
	padding: 40px 0;
}

.staylodgic_analytics_wrap h3 {
	font-size: 20px;
	font-weight: 200;
}

.staylodgic_analytics_wrap h2 {
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 20px;
}

.staylodgic_analytics_table_wrap {
	margin-bottom: 50px;
}

.staylodgic_table_outer {
	margin-top: 24px;
}

.staylodgic_analytics_chart,
.staylodgic_analytics_table_wrap {
	margin-bottom: 50px;
	border-radius: 10px;
	padding: 40px;
}

.staylodgic_anaytlics_module {
	padding: 40px 20px 0;
	border-radius: 20px;
}

.staylodgic_anaytlics_module.staylodgic_chart_bookings_today {
	background: #eef7fb;
}

.staylodgic_anaytlics_module.staylodgic_chart_bookings_tomorrow {
	background: #f2f3fb;
}

.staylodgic_anaytlics_module.staylodgic_chart_bookings_dayafter {
	background: #f7f4ed;
}

.staylodgic_analytics_chart.staylodgic_analytics_chart_polarArea {
	border: 0;
	padding: 0;
	margin-bottom: 10px;
}

div.dataTables_wrapper div.dataTables_filter {
	margin-top: 10px;
	margin-bottom: 10px;
}
.staylodgic_analytics_wrap h2 .display-stat-date {
	display: block;
	font-size: 14px;
	margin-top: 6px;
}