
.guest-adult-svg {
	width: 22px;
	height: 32px;
	background-image: url('../../assets/svgs/person-adult.svg');
	display: inline-block;
	background-repeat: no-repeat;
}

.guest-child-svg {
	width: 22px;
	height: 22px;
	background-image: url('../../assets/svgs/person-child.svg');
	display: inline-block;
	background-repeat: no-repeat;
}

.guest-bed-kingbed {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/bed-king.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}
.guest-bed-sofabed {
	width: 56px;
	height: 22px;
	background-image: url('../../assets/svgs/sofabed.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: -7px;
}
.guest-bed-queenbed {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/bed-king.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}
.guest-bed-fullbed {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/bed-king.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}
.guest-bed-bunkbed {
	width: 36px;
	height: 25px;
	background-image: url('../../assets/svgs/bunkbed.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: -6px;
}

.guest-bed-twinbed {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/bed-single.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
}

.included-mealplan {
	width: 36px;
	height: 37px;
	background-image: url('../../assets/svgs/mealplan.svg');
	display: inline-block;
	background-repeat: no-repeat;
	position: relative;
	top: 11px;
}

.type-twinbed-twinbed-two.guest-bed-twinbed {
	left: -10px;
}

.booking-dashboard.registration {
	padding-top: 6px;
}
.booking-dashboard.registration i {
	color: #3e7ffb;
	font-size: 18px;
	padding-right: 6px;
}
.booking-dashboard.registration i:hover {
	color: #000;
}