#container {
display: flex;
overflow-x: auto;
max-width: 100%;
}

#rowHeaders {
flex-shrink: 0;
min-width: 100px;
}

#calendar {
overflow-x: auto;
width: 100%;
position: relative;
}

#calendarTable {
display: flex;
flex-direction: column;
border: 1px solid #ccc;
border-collapse: collapse;
white-space: nowrap;
min-width: fit-content;
}

.calendarRow {
display: flex;
}

.calendarCell {
flex-grow: 1;
border-right: 1px solid #ccc;
text-align: center;
width: 80px;
height: 80px;
position: relative;
vertical-align: bottom;
}

.calendarCell:first-child {
border-left: none;
}

.calendarRow .rowHeader {
font-weight: bold;
background-color: #eee;
position: sticky;
left: 0;
z-index: 1;
width: 290px;
font-size: 12px;
padding: 20px;
}

.calendarRow .rowHeader:first-child {
border-top: none;
}

.calendarRow .rowHeader::before {
	content: "";
	position: absolute;
	bottom: -1px;
	left: -1px;
	height: 1px;
	width: 100%;
	background-color: #dfdfdf;
	z-index: -1;
}


#calendarTable {
display: table;
table-layout: fixed;
width: 100%;
}

.calendarRow {
display: table-row;
}

.calendarCell {
display: table-cell;
border: 1px solid #ccc;
text-align: left;
}

.rowHeader {
font-weight: bold;
}

.day {
font-weight: bold;
}

.status {
margin-bottom: 5px;
}

.quantity,
.rate {
font-size: 12px;
}

.reserved-tab-wrap {
	position: relative;
	height: 25px;
	z-index: 0;
}
.reserved-tab-wrap::before {
	position: absolute;

}
.reserved-tab {
	position: absolute;
}

.quantity-link,
.rate-link {
	display: block;
}
.calendar-info-wrap {
	position: absolute;
	top: 0;
	left: 0;
}
.calendar-info {
	position: relative;
	height: 100px;
}
.reservation-tab-wrap {
	padding-top: 60px;
}
.reserved-tab-inner {
	border: 1px solid #000;
	height: 23px;
	font-size: 11px;
	padding: 3px 3px 3px 7px;
	border-radius: 4px;
}
.reserved-extended {
	width: 80px;
}
.reserved-extended .reserved-tab-inner {
	border: 1px solid transparent;
	height: 23px;
	font-size: 11px;
	padding: 3px 3px 3px 7px;
	border-radius: 4px;
}
.reserved-from-past .reserved-tab-inner {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.calendarCell.monthHeader.rangeSelected {
	border-top: 2px solid #f00;
}
.calendarCell.fully-booked {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQYV2NkIALsU1Y2ZiSkDqTI6e7ds3gVwhSBDMOpEFkRToXoirAqxKYIQyEuRSgK8SmCKySkCKyQGEUghQCl2yVCPSoUNwAAAABJRU5ErkJggg==) repeat;
}
body .tooltip .tooltip-inner {
    text-align: left;
}